/* Styling management*/
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #f4f7fd;
  --primary-font-color: #000000;
  --secondary-font-color: #828fa3;
  --tertiary-purple-color: #635fc7;
  --red-color: #ea5555;
  --primary-box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1015);
  --secondary-box-shadow: 0px 4px 12px rgba(54, 78, 126, 0.403);
  --sidebar-width: 300px;
}

.dark {
  --primary-color: #2b2c37;
  --secondary-color: #20212c;
  --primary-font-color: #ffffff;
}
/* ================
   Base Elements
================ */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--secondary-color);
  font-size: 1rem;
}
/* ================
   Sidebar Layout
================ */
.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-right: 1px solid #e4ebfa;
  width: var(--sidebar-width);
  height: 100vh;
}

#side-logo-div {
  margin: 33px 113px 54px 34px;
  display: flex;
  justify-content: flex-start;
}

#logo {
  width: 100%;
}

#dark-logo {
  width: 100%;
  display: none;
}

.boards-nav-links-div {
  display: flex;
  flex-direction: column;
  color: var(--primary-font-color);
}

#headline-sidepanel {
  padding: 0 12px 0 50px;
}

h4 {
  color: var(--secondary-font-color);
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
}

.board-btn,
#sidebar-toggle-container {
  font-family: inherit;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0 100px 100px 0;
  height: 48px;
  width: 276px;
  padding: 28px 12px 28px 50px;
  font-size: 0.9375rem;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
}

.board-btn {
  gap: 10px;
  background-color: var(--tertiary-purple-color);
  color: #ffffff !important;
}

/* Bottom sidebar */

#bottom-sidebar {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 1rem;
}

/* Hide sidebar */

#sidebar-toggle-container {
  gap: 40px;
  background-color: var(--secondary-color);
  color: var(--tertiary-purple-color);
  transition: all 600ms ease;
}

#sidebar-toggle-container:hover,
#sidebar-toggle-container:active {
  box-shadow: var(--secondary-box-shadow);
}

body.dark #close-sidebar-text {
  color: white;
}

/* Theme switch */

.theme-toggle-container {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  margin: 0 2rem 0 1rem;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  gap: 22px;
  border-radius: 6px;
}

.toggle-theme-btn {
  background-color: var(--tertiary-purple-color);
  width: 40px;
  height: 20px;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 600ms ease;
}

.toggle-theme-btn:hover,
.toggle-theme-btn:active {
  box-shadow: 0px 0px 12px rgba(54, 78, 126, 0.5);
}

.switch-circle {
  background-color: white !important;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: relative;
  transition: all 600ms ease;
  transform: translateX(4px);
}

.theme-dark-clicked {
  transform: translateX(22px);
}
/* ===============
   Main Layout
================ */
#layout {
  flex: 1;
  overflow-x: hidden;
  width: 100%;
}

/* ===============
   Header Section
================ */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  height: 96px;
  padding: 0 35px 0 30px;
  border-bottom: 1px solid #e4ebfa;
  width: 100%;
  font-size: 1.875rem;
  font-weight: 600;
}

.header-name-div {
  display: flex;
  align-items: center;
}

#dark-logo-mobile {
  display: none;
}

/* Add New Task Button */

.add-task-btn {
  font-size: 0.9375rem;
  padding: 14px 24px;
  font-weight: 700;
  color: var(--primary-color);
  background-color: var(--tertiary-purple-color);
  border: none;
  margin-right: 25px;
  cursor: pointer;
  transition: all 600ms ease;
}

.add-task-btn:hover,
.add-task-btn:active {
  box-shadow: var(--primary-box-shadow);
  background-color: rgb(84, 81, 185);
  transform: translateY(-2px);
}

#desktop-add-task-btn {
  border-radius: 24px;
  color: #ffffff !important;
  transition: all 600ms ease;
}

#desktop-add-task-btn:hover {
  background-color: #a8a4ff;
}

.logo-mobile {
  display: none;
  cursor: pointer;
}

/* ===============
   Board Columns
================ */
.container {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  padding-top: 10px;
  box-sizing: border-box;
  margin-left: 10px;
}

.card-column-main {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 304px));
  gap: 8px;
}

.column-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px;
}

.column-head-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.columnHeader {
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  color: var(--secondary-font-color);
  margin: 0;
}

/* Status Dots */
.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

#todo-dot {
  background-color: #49c4e5;
}

#doing-dot {
  background-color: #8471f2;
}

#done-dot {
  background-color: #219c90;
}

/* Hide Sidebar */

#icon-hide-menu {
  width: 56px;
  height: 48px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #a8a4ff;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  padding-bottom: 5px;
  padding-right: 5px;
  display: none;
  cursor: pointer;
}

#icon-hide-menu span {
  opacity: 0.8;
}

/* ===============
   Tasks styling
================ */
.tasks-container {
  display: flex;
  flex-direction: column;
}

.task-div {
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  height: 60px;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  border-radius: 12px;
  box-shadow: var(--primary-box-shadow);
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 0.9375rem;
  font-weight: bold;
}

.task-div:hover,
.task-div:active {
  transition: all 600ms ease;
  box-shadow: var(--secondary-box-shadow);
}

/* ===============
   Headings
================ */
h2 {
  font-size: 1.5rem;
  margin: 0;
}