/* Styling management*/
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #f4f7fd;
  --primary-font-color: #000000;
  --secondary-font-color: #828fa3;
  --tertiary-purple-color: #635fc7;
  --red-color: #ea5555;
  --primary-box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1015);
  --secondary-box-shadow: 0px 4px 12px rgba(54, 78, 126, 0.403);
  --sidebar-width: 300px;
}

.dark {
  --primary-color: #2b2c37;
  --secondary-color: #20212c;
  --primary-font-color: #ffffff;
}
/* ================
   Base Elements
================ */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--secondary-color);
  font-size: 1rem;
}
